
<div class="container-fluid" ng-controller="AppController" ng-init="showDevice=false" >
    <div class="row">
        <!--List of Devices-->
        <div ng-init="showModal=true" class="list-of-devices col-sm-4">
            <div class="gen-container">
                <h1>Welcome to HiJack</h1>
                <h2>Check out your treasures!</h2>
            </div>
            <div class="gen-container" aria-hidden="false" style="display: block" ng-show="showModal">      
                <!-- Modal content-->
                <div>
                    <div>
                        <h4 class="modal-title"><strong>{{user}}</strong>, you can access these devices</h4>
                    </div>
                    <div class="container">
                        <br>
                        <div ng-repeat="x in devices">
                            <button type="button" class="btn device" ng-click="select_device(x)">{{x}}</button>
                            <br>
                            <br>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
        <!-- Device Modal -->
        <div class="text-center col-sm-8">
            <div aria-hidden="false" style="display: block">  
                <div ng-hide="!showDevice" class="device-container">    
                    <!-- Modal content-->
                    <div >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="showDevice=false">&times;</button>
                            <h1 class="modal-title">{{selectedDevice}}</h1>
                            <h5> {{permission}} </h5>
                        </div>
                        <div class="modal-body">

                            <!--GPS Location-->
                            <div class="command_lists">
                                <h3>This device is currently

                                <h4 style="color: lightgreen">live</h4>   
                                <h3>at:</h3>
                                </h3>    
                                <h4><strong>{{gpsloc}}</strong></h4>    
                            </div>

                            <hr class="green"><!--Picture-->
                            <div class="command_lists">
                                <h3>{{selectedDevice}} is blind! (no camera)</h3>
                            <img  class="thumb" src="http://www.clker.com/cliparts/4/4/4/T/k/W/no-camera-allowed-hi.png"/>    
                            </div>

                            <hr class="aqua"><!--Command List-->
                            <div class="command_lists">
                                <p>You have no Commands. Contact your Manager for proper permissions</p>
                            </div>

                        </div>
                        <div class="modal-footer">        
                            <button type="button" class="btn btn-primary" ng-click="showDevice=false">Exit</button>     
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div ng-controller="logoutController">
    <a ng-click='logout()' class="btn btn-default">Logout</a>
</div>
