<html ng-app="App">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        .container {
            width: 50%;
        }
        h3 {
            border-bottom: 1px solid #ccc;
        }
    </style>
</head>
<body>
    <div class="container" ng-controller="AppController" ng-init="showDevice=false">
        <!--Login Basics -->
        <div class="text-center">
            <h1 class="text-center">HiJack</h1>
            <h2 class="text-center">Check out your treasures!</h2>
            <button class="btn btn-primary btn-lg" ng-click="showModal = !showModal">
                <div ng-show="!showModal">Login</div>
                <div ng-show="showModal">Logout</div>
            </button>
        </div>
        <!--List of Devices-->
        <div class="text-center" ng-init="showModal=false">
            <div aria-hidden="false" style="display: block" ng-show="showModal">  
                <div>    
                    <!-- Modal content-->
                    <div >
                        <div>
                            <button type="button" class="close" data-dismiss="modal" ng-click="showModal=false">&times;</button>
                            <h4 class="modal-title">{{user}}</h4>
                        </div>
                        <div>
                            <br>
                            <div ng-repeat="x in devices">
                                <button type="button" class="btn" ng-click="select_device(x)">{{x}}</button>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div>        
                            <button type="button" class="btn btn-primary" ng-click="showModal=false">Exit</button>     
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Device Modal -->
        <div class="text-center">
            <div class="modal fade in" aria-hidden="false" style="display: block" ng-show="showDevice">  
                <div class="modal-dialog">    
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" ng-click="showDevice=false">&times;</button>
                            <h4 class="modal-title">{{selectedDevice}}</h4>
                        </div>
                        <div class="modal-body">
                            
                        </div>
                        <div class="modal-footer">        
                            <button type="button" class="btn btn-primary" ng-click="showDevice=false">Exit</button>     
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        
        <script>
            var app = angular.module('App', []);
            app.controller('AppController', function($scope, $http) {
                $scope.time = "unknown...";
                $scope.showDiv = false;
                $scope.user = "Temp User"
                $http.get('/api/'+$scope.user+'/get_devices').then(function(response) {
                    $scope.devices = response.data.devices;
                });	
                $scope.selectedDevice = null;
                
                //login User
                $scope.login_user = function() {
                    //get the user data
                    $http.get('/api/login/'+user).then(function(response) {
                        $scope.devices = response.data.username;
                        $log.log("this is the shit")
                    });
                    //get the devices
                    $http.get('/api/'+$scope.user+'/get_devices').then(function(response) {
                        $scope.devices = response.data.devices;
                    });			    
                }
                //get devices for a User
                $scope.get_devices = function() {
                    $http.get('/api/'+$scope.user+'/get_devices').then(function(response) {
                        $scope.devices = response.data.devices;
                    });		    
                }
                $scope.select_device = function(value) {
                    $scope.selectedDevice = value;
                    $scope.showDevice = !$scope.showDevice
                }
                //test out the endpoint
                
            });
        </script>
    </body>
    </html>